*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h_container{
  height:120px;
  background-color: #14C38E;
  width: 100vw;

padding: 20px auto;

}
.select_con{
  display: flex;
  justify-content: center;
}
.radio_con{
  margin-top:85px;
margin-left: 40px;
}

.img-logo{
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.syllabus-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.syllabus-header h3{
  font-size: 30px;
  font-weight: bold;
  color: #00499d;
}
.title{

  font-size: 20px;
  font-weight: bold;
  color:orange;
}
.unit-no{
  color: #00499d;
  margin-right : 60px;
  margin-left: 25px;
}
.unit-name{
 margin: 20px auto;
  font-weight: bold;
  color: #00499d;
  font-size: 20px;
}
.syllabus-list{
  padding: 20px auto;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: bold;
  font-size: 18px;
}